@model CloudDentist.ViewModel.ChangePasswordViewModel
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["alert"] != null)
{
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        swal("Hapus Data!!", "@TempData["Pesan"]", "error");
    </script>
}
@if (TempData["success"] != null)
{
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        swal("Berhasil", "@TempData["Pesan"]", "success");
    </script>
}
@if (TempData["error"] != null)
{
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
          swal("ERROR", "@TempData["Pesan"]", "error");
    </script>
}
<h5>Form Ganti Password @Context.Session.GetString("Tenant")</h5>
<p>Fasilitas ini digunakan untuk Mengganti Password user</p>
<div class="block">
    <div class="block-header block-header-default">
        <h3 class="block-title">Submit form Forget Password</h3>
        <div class="block-options">
            <button type="button" class="btn-block-option">
                <i class="si si-wrench"></i>
            </button>
        </div>
    </div>
    <div class="block-content">
        <form asp-action="CreatePost" method="post">
            <div class="form-group row">
                <label asp-for="Username" class="col-lg-3 col-form-label">Username</label>
                <div class="col-lg-7">
                    <input asp-for="Username" type="text" class="form-control" placeholder="Masukan Username..">
                    <span asp-validation-for="Username" class="text-danger" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="OldPassword" class="col-lg-3 col-form-label">Password</label>
                <div class="col-lg-7">
                    <input asp-for="OldPassword" type="password" class="form-control" placeholder="Masukan Password Lama..">
                    <span asp-validation-for="OldPassword" class="text-danger" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Password" class="col-lg-3 col-form-label">Password</label>
                <div class="col-lg-7">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Masukan Password..">
                    <span asp-validation-for="Password" class="text-danger" />
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="col-lg-3 col-form-label">ConfirmPassword</label>
                <div class="col-lg-7">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Re-Password..">
                    <span asp-validation-for="ConfirmPassword" class="text-danger" />
                </div>
            </div>
            <div class="col-sm-6 text-sm-right push">
                <button type="submit" id="submit" class="btn btn-alt-success">
                    <i class="fa fa-plus mr-10"></i> Ganti Password
                </button>
            </div>
        </form>
    </div>
</div>
<script src="~/assets/js/codebase.core.min.js"></script>
<script src="~/assets/js/core/jquery.min.js"></script>
<script src="~/assets/js/core/bootstrap.bundle.min.js"></script>
<!--
    Codebase JS

    Custom functionality including Blocks/Layout API as well as other vital and optional helpers
    webpack is putting everything together at assets/_es6/main/app.js
-->
<script src="~/assets/js/codebase.app.min.js"></script>

<!-- Page JS Plugins -->
<script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<!--unobtrusive js make we can validate from asp validation -->
<script src="~/assets/jquery.validate.unobtrusive.js"></script>
<!-- Page JS Code -->
<script src="~/assets/js/pages/op_auth_signup.min.js"></script>
<!-- JANGAN LUPA MASUKAN TOKEN KE API AMBIL DARI SESSION STRING -->
<script src="~/assets/js/core/jquery.min.js"></script>
