@using Microsoft.AspNetCore.Http
@model CloudDentist.ViewModel.ResetPasswordViewModel
@{
   
    Layout = null;
}
<!doctype html>
<html lang="en" class="no-focus">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Dental Clinic </title>

    <meta name="description" content="Dental Clinic">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta property="og:title" content="Dental clinic - reset password">
    <meta property="og:site_name" content="dentai clinic">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" href="~/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/media/favicons/apple-touch-icon-180x180.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="~/assets/css/codebase.min.css">
</head>
<body>
    <div id="page-container" class="main-content-boxed">

        <!-- Main Container -->
        <main id="main-container">

            <!-- Page Content -->
            <div class="bg-image bg-pattern" style="background-image: url('~/assets/media/photos/bg_hero_landing.jpg');">
                <div class="row mx-0 justify-content-center bg-white-op-95">
                    <div class="hero-static col-lg-6 col-xl-4">
                        <div class="content content-full overflow-hidden">
                            <!-- Header -->
                            <div class="py-30 text-center">
                                <a class="link-effect text-pulse font-w700" href="index.html">
                                    <i class="si si-fire"></i>
                                    <span class="font-size-xl text-pulse-dark">Dentail</span><span class="font-size-xl">Clinic</span>
                                </a>
                                <h1 class="h4 font-w700 mt-30 mb-10">Welcome silahkan reset data anda di sini</h1>
                                <h2 class="h5 font-w400 text-muted mb-0">Please enter your password</h2>
                            </div>
                            <!-- END Header -->
                            <!-- Unlock Form -->
                            <!-- jQuery Validation functionality is initialized with .js-validation-lock class in js/pages/op_auth_lock.min.js which was auto compiled from _es6/pages/op_auth_lock.js -->
                            <!-- For more examples you can check out https://github.com/jzaefferer/jquery-validation -->
                            <form asp-action="CreatePost" method="post">
                                @Html.HiddenFor(model => model.Token)
                                @Html.HiddenFor(model => model.Email)
                                <div class="block block-themed block-rounded block-shadow">
                                    <div class="block-header bg-gd-pulse">
                                        <h3 class="block-title">Unlock Account</h3>
                                        <div class="block-options">
                                            <button type="button" class="btn-block-option">
                                                <i class="si si-wrench"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content">
                                        <div class="form-group text-center">
                                            <img class="img-avatar img-avatar96" src="assets/media/avatars/avatar15.jpg" alt="">
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label asp-for="NewPassword">Password</label>
                                                <input asp-for="NewPassword" type="password" class="form-control" id="lock-password">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                                <input asp-for="ConfirmPassword" type="password" class="form-control" id="lock-password">
                                            </div>
                                        </div>
                                        <div class="form-group text-center">
                                            <button type="submit" value="Submit" class="btn btn-alt-danger">
                                                <i class="si si-lock-open mr-10"></i> Unlock
                                            </button>
                                        </div>
                                    </div>
                                    <div class="block-content bg-body-light">
                                        <div class="form-group text-center">
                                            <button type="submit" id="submit" asp-action="ResetPassword" asp-controller="User" class="link-effect text-muted mr-10 mb-5 d-inline-block" btn-alt-primary">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <script src="~/assets/js/codebase.core.min.js"></script>
    <script src="~/assets/js/codebase.app.min.js"></script>
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/js/pages/op_auth_lock.min.js"></script>

</body>
</html>



